/** { border: 1px solid red;}*/
body {
  font-family: 'Carter One', cursive;
  /*font-family: 'BubbleGum', cursive;*/
  background: lightblue;
  text-align: center;
  color: #0000ff;
  font-size: 1.3em;
  height: 100%;
}
#welcome {
  font-family: 'BubbleGum', cursive;
  font-size: 2em;
}
h1 {
  font-family: 'BubbleGum', cursive;
  font-size: 3em;
}
#info {
  display: inline-block;
  align-items: baseline;
  margin: 0 auto;
  padding: 0 80px;
}

.players {
  width: 50px;
  height: 65px;
}
h3 {
  display: inline-block;
  margin: 0 auto;
}

#gameBoard {
  margin: 0 auto;
  display: block;
}

.card {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  background: yellow;
  font-size: 2.3em;
  float: left;
  /*overflow:scroll;*/
  /*background-image: url('image/question_mark.png');*/
}

.questionMark {
  width: 80px;
  height:80px;
  transition: transform .1s ease-in-out;
  -webkit-transition: -webkit-transform: .1s ease-in-out;

}
.questionMark:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180-deg);
}
.smile {
  width:30px;
  height:30px;
  position: relative;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}
.smile:hover{
  top: -30px;
  -webkit-top: -30px;
}

button {
  /*height: 30px;*/
  /*width: 100px;*/
  padding: 0.2em;
  margin: 0.1em;
  border: 1px solid black;
  border-radius: 8px;
  display:inline-block;
  background-color: #202060;
  color: white;
  font-family: 'Carter One', cursive;
  font-size: .8em;
}
 button:hover {
   background-color: #0099ff;
   font-weight: bold;
   color: black;
 }
#playSize, #playSize2 {
  font-size: 0.5em;
}
#cardTypeSelect, #cardTypeSelectForTwo {
  font-size: 0.5em;
}
#name1, #name2 {
  height: 20px;
}
.fruits {
  width: 80px;
  height: 80px;
}
.cards {
  height: 80px;
}

#footer {
  /*position: fixed;
  bottom: 0;*/
  width: 100%;
  height: 60px;
  text-align: center;
}
#love {
  color: red;
}
.champion {
  width: 300px;
  height: 400px;
}
.handshake {
  width: 300px;
  height: 300px;
}
/*
@media (max-width: 800px) {
  #footer {
    position: relative;
  }
  #gameBoard {
    height: 100%;
    padding-bottom: 60px;
}*/
