* { border: 1px solid red;}
body {
  background: lightblue;
  text-align: center;
}

#info {
  display: flex;
}

h3 {
  display: inline-block;
  margin: 0 auto;
}

#gameBoard {
  /*height: 800px;
  width: 800px;*/
  margin: 0 auto;
}

.card {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  background: yellow;
  font-size: 65px;
  overflow: auto;
  /*background-image: url('image/question_mark.png');*/
}

.cardFliped {

}

img {
  width: 80px;
  height:80px;
}
