/** { border: 1px solid red;}*/
body {
  background: lightblue;
  text-align: center;
}

#info {
  display: flex;
  align-items: baseline;
}

h3 {
  display: inline-block;
  margin: 0 auto;
}

#gameBoard {
  /*height: 800px;
  width: 800px;*/
  margin: 0 auto;
}

.card {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  background: yellow;
  font-size: 65px;
  overflow: auto;
  /*background-image: url('image/question_mark.png');*/
}

.cardFliped {

}

.questionMark {
  width: 80px;
  height:80px;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform: .3s ease-in-out;

}
.questionMark:hover {
  transform: rotate(180deg);
  -webkit-transform: rotate(180-deg);
}
.smile {
  width:30px;
  height:30px;
}

button {
  height:25px;
  border: 1px solid black;
  border-radius: 8px;
}

#type {
  font-size: 0.8em;
}
